h1.card-header{
  text-align: center;
}
.navbar-text{
  text-align: center;
}
.shadow-lg{
  width: 20%;
  float: left;
}
form.searchBtn input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.searchBtn button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchBtn button:hover {
  background: #0b7dda;
}

form.searchBtn::after {
  content: "";
  clear: both;
  display: table;
}

